<div *ngIf="jobDetails$ | async as details" class="d-flex flex-column gap-3">
    <button routerLink="/" class="btn btn-link d-flex align-items-center gap-2">
        <i class="bi bi-house-fill"></i> Back
    </button>
    <div class="d-flex gap-1 align-items-top">
        <img [src]="details.companyLogo" alt="Company Logo" class="me-3 rounded company-logo-style" />
        <div class="d-flex flex-column">
            <h1 class="mb-0">{{ details.title }}</h1>
            <span *ngIf="jobTypesAndIndustries$ | async as typesAndIndustries">
                <app-pill-badge *ngFor="let element of typesAndIndustries" class="ms-2" [pillContent]="element"
                    [pillColor]="PillColor.Secondary" />
            </span>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="d-flex">
            <p class="fw-bold me-2">Publish date:</p>
            <p>{{ details.publishDate | date:'shortDate' }}</p>
        </div>
        <div class="d-flex">
            <p class="fw-bold me-2">Location:</p>
            <p>{{ details.location }}</p>
        </div>
        <div class="d-flex flex-column">
            <p class="fw-bold me-2">Description:</p>
            <p [innerHTML]="details.description"></p>
        </div>
    </div>
</div>